conda==4.2.7
enum==0.4.6
Flask==0.12
Jinja2==2.9.5
oauthlib==2.0.1
py2app==0.6.3
pyasn1==0.2.2
pyOpenSSL==0.13
PyRSS2Gen==1.0.0
python-dateutil==1.5
PyYAML==3.12
requests==2.13.0
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
tweepy==3.5.0
Twisted==12.0.0
virtualenv==15.1.0
Werkzeug==0.11.15
xattr==0.6.2
zope.interface==3.5.1
